

 .search {
    width: 100%;
} 

.button {
    margin-right: 10px;
    background-color: #ffc8aa;
    color: white;
    border: none;
    position:fixed;
}

.searchBar {
   float: left;
    
}

.section{
    font-family: 'Varela Round', sans-serif;
}

.field {
    font-family: 'Varela Round', sans-serif;
}

element.style {
    margin-top: 60px;
}