.box {
    background-color: #ffc8aa;
}

 .search {
    width: 100%;
} 

.button {
    margin-right: 10px;
    background-color: #ffc8aa;
    color: white;
    border: none;
    
}

.navbar {
    float: right;
    
}

.section{
    font-family: 'Nunito', sans-serif;
}

.field {
    font-family: 'Nunito', sans-serif;
}