.allForms {
    /* background-image: url('./memphis-colorful.png'); */
    background-color: #f2f2f2;
}
.submit {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #bf431d;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color:  #bf431d;;
    margin-top: 70px;
}

.descriptionTitle {
    margin-top: 50px;
    color: grey;
}

.descriptionTimeline {
    margin-bottom: 30px;
}

.title1 {
    color: grey;
}

.title {
    margin-bottom: 30px;
}

.timeline {
    padding: 20px;
}

.box {

}

/* .title1 {
    font-family: 'Varela Round', sans-serif;
} */