.allForms {
    
}
.submit {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #bf431d;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color:  #bf431d;;
    margin-top: 70px;
}

.descriptionTitle {
    margin-top: 50px;
    color: grey;
}

.descriptionTimeline {
    margin-bottom: 30px;
}

.titleHeading {
    color: grey;
}

.title {
    margin-bottom: 30px;
    height: 10px;
}

.timeline {
    padding: 20px;
}

.box {

}

